{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{title}} {% endblock title_block %}
{% block css_block %}
    <style>
        .sign_up{
            border: 1px solid #ccc;
            padding: 15px;
        }
        .log_in{
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
{% endblock css_block %}
{% block body_block %} <br>
<div class="col-md-6 offset-md-3 sign_up mt-3">
    <h3 class='text-dark my-2 text-center'>Sign Up Here</h3><hr>
    <form method="POST" novalidate>
        {% csrf_token %}
				<!-- Error Message  -->
		{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
				<p class='alert alert-danger my-2'>{{error}}</p>
			{% endfor %}
		{% endif %}
		<!-- Error Message End  -->
		{% for fm in form %}
        <div class='form-group'>
			{{fm.label_tag}} {{fm}}{{crispy}} <p class='text-danger'>{{fm.errors|striptags}}</p>
        </div>
		{% endfor %}
        <input class='btn btn-block btn-success btn-lg' type="submit" style="width:100%" value="Submit">
    </form>
</div>
<div class="col-md-6 offset-md-3 log_in mt-2 text-center">
    Already you have an account? <a href="{% url 'App_Login:login' %}"> <b>Login</b> </a>
</div><br>
{% endblock body_block %}


