{% extends 'App_Login/navbar.html' %}
{% block title_block %} {{user.user_profile.full_name}} @{{user.username}} {% endblock title_block %}
{% block css_block %}
<style>
  .crop{
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .crop.img{
    width: 400px;
    height: 300px;
    {% comment %} margin: -75px 0 0 -100px; {% endcomment %}
  }
  #usepostbody{
    background-color:red;
  }
</style>
{% endblock css_block %}

{% block body_block %}

<div class="row">
    <div class="col-sm-4">
        {% if user.user_profile.profile_pic %}
            <img src="/media/{{user.user_profile.profile_pic}}" height="250px" width="250px" class='rounded-circle'>
            {% else %}
            <img src="/media/default.png" width="250px" height="250px" class='rounded-circle'>
            {% endif %}
    </div>
    <div class="col-sm-8">
      <h4 style='font-family:monospace'>{{user.user_profile.full_name}}</h4>
        <span style='font-family:cursive'>@{{user.username}}</span> <a style='font-family:monospace' href="{% url 'App_Login:edit' %}" class="btn btn-warning">Edit Profile</a>
        <h4 style='font-family:monospace'>{{user.post.count}} posts &nbsp; &nbsp; {{user.following.count}} followers &nbsp; &nbsp; {{user.follower.count}} following</h4>
        <br>
        <h6 style='font-family:monospace'>{{user.user_profile.description|linebreaks}}</h6>
    </div>
</div>
<hr>
<button style='font-family:monospace' type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    New Post
  </button>

  <!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 style='font-family:monospace' class="modal-title">Post a photo</h4>
          <button style='font-family:monospace' type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          {{form.as_p}}
          <button style='font-family:monospace' type="submit">Post</button>
        </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button style='font-family:monospace' type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background-color:#f8f9fa; margin-top:5px;" >
    {% for post in user.post.all %}
    <div class="crop col-8">
          <span style="font-family:monospace">{{post.caption}}</span>
          <img class="img-fluid img-responsive" src="/media/{{post.image}}" title="{{post.caption}}" height="200" width="250">
        </div>
      {% endfor %}
  </div>
{% endblock body_block %}


